# Sponsors

Love our work and community? Help us keep it alive by donating funds to cover project expenses!<br />
[[Become a sponsor]({{base_url}}/{{slug}})]

{{#each positions}}
  <a href="{{../base_url}}/{{../slug}}/backers/{{position}}/website" target="_blank">
    <img src="{{../base_url}}/{{../slug}}/backers/{{position}}/avatar">
  </a>
{{/each}}
