{{#each tiers}}

# {{title}}

{{description}} [[Become a {{{singular name}}}]({{../base_url}}/{{../slug}}#{{name}})]

{{#each positions}}
<a href="{{../../base_url}}/{{../../slug}}/{{../name}}/{{position}}/website" target="_blank"><img src="{{../../base_url}}/{{../../slug}}/{{../name}}/{{position}}/avatar.svg"></a>
{{/each}}

{{/each}}