# Sponsors

{{#each positions}}
  <a href="{{../base_url}}/{{../slug}}/backers/{{position}}/website" target="_blank">
    <img src="{{../base_url}}/{{../slug}}/backers/{{position}}/avatar">
  </a>
{{/each}}

[[Become a sponsor]({{base_url}}/{{slug}})]